{% extends 'base.html.twig' %}

{% block title %}Mes suivis{% endblock %}

{% block body %}
    <h1>Mes suivis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nombre de jours</th>
                <th>Programme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if semaines is empty %}
                <tr>
                    <td colspan="4">
                        <a href="{{ path('app_semaine_new') }}">Démarrer un suivi</a>
                    </td>
                </tr>
            {% else %}
                {% set lastSem = semaines|first %}
                {% if dateNow >= lastSem.dateDebut|date_modify('+' ~ lastSem.programme.seanceTypes|length ~ 'days') %}
                    <tr>
                        <td colspan="4">
                            <a href="{{ path('app_semaine_new') }}">Démarrer un suivi</a>
                        </td>
                    </tr>
                {% endif %}
                {% for semaine in semaines %}
                    <tr>
                        <td>{{ semaine.dateDebut ? semaine.dateDebut|date('d/m/Y'): '' }} - {{ semaine.dateDebut ? semaine.dateDebut|date_modify('+' ~ (semaine.programme.seanceTypes|length - 1) ~ 'days')|date('d/m/Y'): '' }}</td>
                        <td>{{ semaine.programme.seanceTypes|length }}</td>
                        <td>{{ semaine.programme.libelle }}</td>
                        <td>
                            <a href="{{ path('app_semaine_show', {'id': semaine.id}) }}">Voir</a>
                            <a href="{{ path('app_semaine_edit', {'id': semaine.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}
