{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <h1>Résultats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ semaine.dateDebut|date_modify('+' ~ (suivi_seance.jourSeance - 1) ~ 'days')|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ suivi_seance.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_semaine_show', {'id': semaine.id}) }}">Retour au suivi</a>

    <a href="{{ path('app_suivi_seance_edit', {'id': suivi_seance.id, 'semaineId': semaine.id}) }}">Modifier</a>

    {{ include('suivi_seance/_delete_form.html.twig', {'semaineId': semaine.id}) }}
{% endblock %}
