{% extends 'base.html.twig' %}

{% block title %}Modifier Objectifs{% endblock %}

{% block body %}
    <h1>Modifier mes objectifs</h1>

    {{ include('objectif_seance/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('app_objectif_seance_show', {'id': objectif_seance.id, 'semaineId': semaine.id}) }}">Annuler</a>

    {{ include('objectif_seance/_delete_form.html.twig', {'semaineId': semaine.id}) }}

    <h2>Exercices</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Descriptif</th>
                    <th>Video</th>
                    <th></th>
                </tr>
                {% for exercice in seance.exercices %}
                    <tr>
                        <td>{{ exercice.nomExercice }}</td>
                        <td>{{ exercice.descriptif }}</td>
                        <td><a href="{{ asset('uploads/video/' ~ exercice.videoFilename) }}">Voir la vidéo</a></td>
                        <td>
                            <a href = "{{ path('app_exercice_show', {'id': exercice.id, 'seancetypeid' : seance.id}) }}">Voir en détail</a href>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">aucun exercice</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        
{% endblock %}
