{% extends 'base.html.twig' %}

{% block title %}Objectifs{% endblock %}

{% block body %}
    <h1>Objectifs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ semaine.dateDebut|date_modify('+' ~ (objectif_seance.jourObjectif - 1) ~ 'days')|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ objectif_seance.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_semaine_show', {'id': semaine.id}) }}">Retour au suivi</a>

    <a href="{{ path('app_objectif_seance_edit', {'id': objectif_seance.id, 'semaineId': semaine.id}) }}">Modifier</a>

    {{ include('objectif_seance/_delete_form.html.twig', {'semaineId': semaine.id}) }}
{% endblock %}
