{% extends 'base.html.twig' %}

{% block title %}Séances Type{% endblock %}

{% block body %}
    <h1>Séances Type</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Split</th>
                <th>Jour</th>
                <th>Descriptif</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance_type in seance_types %}
            <tr>
                <td>{{ seance_type.libelle }}</td>
                <td>{{ seance_type.split }}</td>
                <td>{{ seance_type.jour }}</td>
                <td>{{ seance_type.descriptif }}</td>
                <td>{{ seance_type.duree ? seance_type.duree|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_seance_type_show', {'id': seance_type.id}) }}">show</a>
                    <a href="{{ path('app_seance_type_edit', {'id': seance_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas encore de séance type</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_seance_type_new') }}">Create new</a>#}
{% endblock %}
