{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1>Programme index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>{{ programme.libelle }}</td>
                <td>{{ programme.description }}</td>
                <td>{{ programme.type }}</td>
                <td>
                    
                    {% if app.user != null %}
                    <a href="{{ path('app_programme_show', {'id': programme.id}) }}">détails</a>
                    {% if app.user.getId() == programme.getCreateur().getId()%}
                    <a href="{{ path('app_programme_edit', {'id': programme.id}) }}">modifier</a>
                    {% endif %}
                    {% else %}
                    <a href="/login">détails</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas encore de programme</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    
    {% if app.user != null %}
    <div>
    <a href="/programme" class="btn btn-primary btn-lg px-4 gap-3">Liste des programmes en favoris</a>
    </div>
    {% if app.user.isCoach() %}
    <a href="{{ path('app_programme_new') }}">Creer un nouveau</a>
    

    {% endif %}
    {% endif %}
    
    
    
{% endblock %}