{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1>Programme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>{{ programme.libelle }}</td>
                <td>{{ programme.description }}</td>
                <td>{{ programme.type }}</td>
                <td>
                    <a href="{{ path('app_programme_show', {'id': programme.id}) }}">show</a>
                    {% if app.user.getId() == programme.getCreateur().getId()%}
                    <a href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.isIsCoach() %}
    <a href="{{ path('app_programme_new') }}">Create new</a>
    {% endif %}
{% endblock %}
