{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1>Programme index</h1>

    <form>

        <label for="type"> Type </label>
        <select id="type" name="type">
            <option {{ type == 0 ? 'selected' }} value="">--</option>
            <option {{ type == "puissance" ? 'selected' }} value="puissance">Puissance</option>
            <option {{ type == "hypertrophie" ? 'selected' }} value="hypertrophie">Hypertrophie</option>
            <option {{ type == "endurance" ? 'selected' }} value="endurance">Endurance</option>
        </select>

        <input placeholder="Nombre de Jours" name="nbJour" value="{{nbJour}}">

        <label for="dureeMax"> Durée Max </label>
        <input id="dureeMax" type="time" name="dureeMax" value="{{dureeMax}}" placeholder="Duree Max">

        <input id="favoris" type="checkbox" name="favoris" value="1">
        <label for="favoris"> Favoris </label>

        {% if app.user.isCoach() %}
            <input id="mesprogs" type="checkbox" name="mesprogs" value="1">
            <label for="mesprogs"> Mes programmes </label>
        {% endif %}

        <input type="submit" value="Valider">
        
    </form>
    
    {# {% if app.user %}
        <a href="{{ path('app_programme_index', {'favoris': 1}) }}" class="btn btn-primary btn-lg px-4 gap-3">Programmes favoris</a>
    {% endif %} #}

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Description</th>
                <th>Type</th>
                <th>Créateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.libelle }}</td>
                <td>{{ programme.description }}</td>
                <td>{{ programme.type }}</td>
                <td>{{ programme.getCreateur().getUsername() }}</td>
                <td>
                    
                    <a href="{{ path('app_programme_show', {'id': programme.id}) }}">détails</a>
                    {% if app.user != null %} <!-- vérifie que user est connecté pour éviter une erreur au chargement -->
                        
                        {% if app.user.getProgSuivi() == programme %}
                            <a href = "{{ path('app_programme_suivreProgramme', {'id': programme.id, 'action': 'drop', 'from': 'index'}) }}">abandonner</a href> 
                        {% else %}
                            <a href = "{{ path('app_programme_suivreProgramme', {'id': programme.id, 'action': 'join', 'from': 'index'}) }}">suivre</a href>
                        {% endif %}


                        {% if programme.estFavori.contains(app.user) %}
                            <a href="{{ path('app_programme_enFavoris', {'id': programme.id, 'action': 'remove', 'from': 'index'}) }}">- favoris</a>
                        {% else %}
                            <a href="{{ path('app_programme_enFavoris', {'id': programme.id, 'action': 'add', 'from': 'index'}) }}">+ favoris</a>
                        {% endif %}


                        {% if app.user.getId() == programme.getCreateur().getId()%}
                            <a href="{{ path('app_programme_edit', {'id': programme.id}) }}">modifier</a>
                        {% endif %}

                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas encore de programme</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
 
    {% if app.user != null %}
        {% if app.user.isCoach() %}
            <a href="{{ path('app_programme_new') }}">Creer un programme</a>
        {% endif %}
    {% endif %} 
    
    
{% endblock %}