{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
    <h1>Programme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programme.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ programme.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ programme.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ programme.type }}</td>
            </tr>
        </tbody>
    </table>


    {#suivre programme#}
    {% if app.user.getProgSuivi() == programme %}
        <a href = "{{ path('app_programme_suivreProgramme', {'id': programme.id, 'action': 'drop', 'from': 'show'}) }}" class="btn btn-primary btn-lg px-4 gap-3">Abandonner ce programme</a href> 
    {% else %}
        <a href = "{{ path('app_programme_suivreProgramme', {'id': programme.id, 'action': 'join', 'from': 'show'}) }}" class="btn btn-primary btn-lg px-4 gap-3">Suivre ce programme</a href> 
    {% endif %}


    {#mettre en favoris#}
    {% if programme.estFavori.contains(app.user) %}
        <a href="{{ path('app_programme_enFavoris', {'id': programme.id, 'action': 'remove', 'from': 'show'}) }}" class="btn btn-primary btn-lg px-4 gap-3">Enlever des favoris</a>
    {% else %}
        <a href="{{ path('app_programme_enFavoris', {'id': programme.id, 'action': 'add', 'from': 'show'}) }}" class="btn btn-primary btn-lg px-4 gap-3">Ajouter aux favoris</a>
    {% endif %}


    {#contacter le coach#}
    {% if app.user.getProgSuivi() == programme %}
        {% if app.user.getId() != programme.getCreateur().getId() %}
            <a href="/contact" class="btn btn-primary btn-lg px-4 gap-3">Contacter le coach</a>
        {% endif %}
    {% endif %}


    {% if app.user.getId() == programme.getCreateur().getId()%}
        <a href="{{ path('app_programme_edit', {'id': programme.id}) }}" class="btn btn-primary btn-lg px-4 gap-3">Modifier</a>
        {{ include('programme/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('app_programme_index') }}">retour à la liste</a>

{% endblock %}
