{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
    <h1>Programme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programme.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ programme.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ programme.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ programme.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_programme_index') }}">back to list</a>
    {% if app.user.getId() == programme.getCreateur().getId()%}
    <a href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>
   
    {{ include('programme/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
